{{ if .Publication }}
<div id="publication" class="section">
    <div class="section__heading">
        <h2 class="section__title">
            {{ i18n "publication" }}
        </h2>
    </div>
    <div class="section__content">
        {{ range .Publication }}
            <div class="publication__item">
                <h3 class="publication__title" >
                    <a class="publication__link" href="{{ .Link | safeHTML }}" target="_blank"> 
                        {{ .Title | safeHTML }}
                    </a>
                </h3>
                <h4 class="publication__authors">{{ .Authors | safeHTML }}</h4>
                <h4 class="publication__conference">{{ .Conference | safeHTML }}</h4>
            </div>
            <br>
        {{ end }}
    </div>
</div>
{{ end }}
